.whole {
  display: flex;

  // & picture {
  //   width: auto;
  //   margin: auto;
  //   background-color: aqua;
  // }
}

.individual {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  min-width: 400px;
  min-height: min-content;
  padding: 20px;

  button {
    background: #fff;
    backface-visibility: hidden;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 0.125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.3;
    padding: 0.875rem 1.125rem;
    position: relative;
    text-align: left;
  }
}
