.nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.5em;
  margin-right: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.link {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  * {
    margin: 0;
    padding: 0;
  }
  &:hover {
    color: grey;
  }
}

.active_link {
  text-decoration: underline;
  color: black;
  &:visited {
    color: black;
  }
  &:hover {
    color: grey;
  }
}

.icon {
  gap: 10px;
  padding-top: 10px;
}
